@import "tailwindcss";

:root {

  /*
      - background: use for backgrounds of sections or cards
      - text: use for text color
      - border: use for borders of elements
      - shadow: use for box shadows
      - highlight: use for hover effects or highlights
      - error: use for error messages or alerts
      - warning: use for warning messages or alerts
      - success: use for success messages or alerts
      - info: use for informational messages or alerts

      - primary: use for primary actions or buttons
      - secondary: use for secondary actions or buttons
      - accent: use for accent colors or highlights

  */
  
}

@layer base {
  :root {
    --font-bebas: 'Bebas Neue', sans-serif;
    --background: #f0f0f0;
    --foreground: #171717;
    --color-primary: #FFBB64;
    --color-secondary: #FF6868;
    --color-accent: #00aa00;
    --color-background: #f0f0f0;
    --color-text: #000000;
    --color-border: #cccccc;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-highlight: #00ff00;
    --color-error: #ff0000;
    --color-warning: #ffcc00;
    --color-success: #00cc00;
    --color-info: #00aaff;
  
  }

  .font-bebas {
    font-family: var(--font-bebas);
  }

  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .bg-accent {
    background-color: var(--color-accent);
  }
}

/*reefactor global.css, need to put every var in @layer base for classes to become integrated with tailwind */


.bg-background {
  background-color: var(--color-background);
}
.bg-text {
  background-color: var(--color-text);
}
.bg-border {
  background-color: var(--color-border);
}
.bg-shadow {
  background-color: var(--color-shadow);
}
.bg-highlight {
  background-color: var(--color-highlight);
}
.bg-error {
  background-color: var(--color-error);
}
.bg-warning {
  background-color: var(--color-warning);
}
.bg-success {
  background-color: var(--color-success);
}
.bg-info {
  background-color: var(--color-info);
}
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-accent {
  color: var(--color-accent);
}
.text-background {
  color: var(--color-background);
}
.text-text {
  color: var(--color-text);
}
.text-border {
  color: var(--color-border);
}
.text-shadow {
  color: var(--color-shadow);
}
.text-highlight {
  color: var(--color-highlight);
}
.text-error {
  color: var(--color-error);
}
.text-warning {
  color: var(--color-warning);
}
.text-success {
  color: var(--color-success);
}
.text-info {
  color: var(--color-info);
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-primary: #00ff00;
    --color-secondary: #00cc00;
    --color-accent: #00aa00;
    --color-background: #0a0a0a;
    --color-text: #ffffff;
    --color-border: #444444;
    --color-shadow: rgba(255, 255, 255, 0.1);
    --color-highlight: #00ff00;
    --color-error: #ff0000;
    --color-warning: #ffcc00;
    --color-success: #00cc00;
    --color-info: #00aaff;
  }
} */

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;

}

html {
  width: 100%;
  height: 100%;
}